@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

#dev-section {
    height: 100vh;
    background-image: url("../pattern.png");
    background-size: contain;
    overflow-x: hidden;
}

img {
    width: 25%;
    height: 25%;
}

.header {
    font-size: 50px;
    padding: 4%;
}

.dev-details {
    padding: 3%;
}

.dev {
    font-size: 35px;
    font-weight: bolder;
}

.name {
    font-size: 30px !important;
    font-weight: bolder !important;
}

@media only screen and (max-width: 700) {
    img {
        width: 50%;
        height: 50%;
    }
}