@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

#main {
    height: 100vh;
    color: white !important;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.header-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: white !important;
    color: black !important;
    padding: 10px 10% !important;
    font-size: 20px !important;
    border: none !important;
    border-radius: 4px !important;
    min-width: 250px;
}

.sweep-right {
    border-radius: 4px !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sweep-right::before {
    content: "";
    border-radius: 4px !important;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: limegreen;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sweep-right:hover, .sweep-right:focus, .sweep-right:active {
    color: white !important;
    border-radius: 4px !important;
}

.sweep-right:hover:before, .sweep-right:focus:before, .sweep-right:active:before {
    border-radius: 4px !important;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}