/* * {
    padding: 0;
    margin: 0;
}

.branch-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 35px;
}

.branch-name {
    content: "Test Content";
} */

/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    padding: 0;
    margin: 0;
}

#caltoaction {
    /* font-family: 'Maven Pro', sans-serif !important; */
    font-family: 'Varela Round', sans-serif;
}

#caltoaction .view {
    min-height: 100vh !important;
    height: unset !important;
}

.btn-success {
    color: #00c851 !important;
    background-color: white !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    border: 2px solid #00c851 !important;
}

.btn-success:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 18px 0 rgba(0, 0, 0, 0.16) !important; */
}

.highlight {
    background-color: #00c851;
    height: 50% !important;
    padding: 2px 5px;
    color: white;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}