@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    padding: 0;
    margin: 0;
}

#questions {
    font-family: 'Varela Round', sans-serif;
    background-image: url("./Web_bg.png");
    background-size: contain;
}

#questions .view {
    min-height: 100vh !important;
    height: unset !important;
}

#questions .card {
    margin-top: 20px;
    border-color: transparent !important;
    background-color: transparent !important;
}

.send-btn {
    margin: 10px auto 50px auto;
}

.question-header {
    padding-left: 20px;
}

.form-control {
    height: 15px !important;
}

/* Animation */

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}